
header div div span {
  font-weight: bold;
}
.start {
    font-family: "Monoton", cursive;
  color: rgb(72, 72, 154);
  text-decoration: underline wavy;
  font-size: 36px;
  
}
.text{
  font-weight: bolder;
}
.porpol {
    font-family: 'Roboto Mono', monospace;
  color: blueviolet;
  font-size: 20px;
}
.green {
  color: darkgreen;
  font-size: 15px;
}
.brown {
  color: rgb(165, 97, 42);
  font-size: 15px;
}
.red {
  color: red;
  font-size: 20px;
  font-weight: 600;
}
.blue {
  color: rgb(6, 179, 222);
}
