* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  background-color: rgb(189, 207, 207);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10%;
}

footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer {
  color: white;
}
.footer .icons {
  padding: 5%;
}
.footer .icons i {
  padding: 2%;
}
.color {
  color: green;
}
.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contactus{
  background-color: white;
  border-radius: 10px;
}
form div input, textarea{
  background-color: rgb(212, 212, 212);
  border: none;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
button{
  color: white;
  background-color: green;
  border: none;
  width: 100%;
}