* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.heading {
  text-align: center;
}
.heading h2 {
  padding: 20px;
}
.heading p {
  padding-bottom: 30px;
  font-size: smaller;
}
.profil-part {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.profil-part .profil {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  gap: 20px;
  text-align: center;
}
.profil img {
  width: 100%;
}
.profil p {
  font-size: smaller;
  padding: 5px 0;
}
.profil .icons i {
  padding: 10px;
  font-size: small;
}
@media only screen and (max-width: 1179px) {
  .profil-part .profil {
    width: 30%;
  }
}
@media only screen and (max-width: 768px) {
  .profil-part .profil {
    width: 40%;
  }
}
@media only screen and (max-width: 409px) {
  .profil-part .profil {
    width: 80%;
  }
}
