*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 40px;
 background-color: black;
 margin-bottom: 40px;
}
#text .text{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#text .text .textbox{
 width: 300px;
 height: 300px;
 border-radius: 10px;
 background-color: gray;
}

footer{
    background-color: darksalmon;
    height: 30px;
    margin: 40px 30px;
    border-radius: 10px;
}
.cont{
    max-width: 1200px;
    margin: 0 auto;
}