header {
  background-color: $color-white;
  .header {
    @include display(space-between);
    .left {
      @include display();
      gap: 80px;
    }
    nav {
      ul {
        @include display();
        gap: 30px;
       li{
         transition: 1s;
        a {
          color: $color-grey;

        }
        &:hover {
          transform: scale(1.2);
        }
       }
      }
    }
  }
}
