%h2font{
        line-height: 50px;
        letter-spacing: 0.2px;
        font-family: $martel;
        color: $color-blue;
        font-weight: 700;
        padding: 10px;
}

%pfont{
        color: $color-grey;
        line-height: 20px;
        letter-spacing: 0.2px;
        font-weight: 400;
        font-family: $Montserrat;
        font-size: 14px;
        max-width: 468px;
        text-align: center;
        padding: 20px 0;
}