footer {
  background-color: $yellow;
  .footer {
    .top {
      @include display(space-between);
      padding: 60px 0;
      .links {
        @include display(center, flex-start);
        flex-direction: column;
        label {
          padding: 20px 0;
          color: $orange;
        }
        a {
          color: $dark;
          padding: 5px 0;
        }
      }
      .icons { @include display();
          gap: 10px;
        .fa-brands {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          color: white;
          background-color: $orange;
          @include display();
          transition: 0.5s;

          &:hover{
            transform: scale(1.05);
            background-color: rgb(255, 148, 109);
          }
        }
      }
    }
    .bottom {
      border-top: 1px solid $dark;
      @include display(space-between);
      padding: 60px 0;
      p {
        @extend %p;
        opacity: 0.5;
      }
      a {
        color: $dark;
        padding: 0 10px;
      }
    }
  }
}
